@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Young+Serif&display=swap');

 /* B1A196 */
 /* F8F4E0 */

* {
  margin: 0;
  font-family: 'Rethink Sans', sans-serif;
}

/* --- NAV BAR --- */
nav {
  background-color: white;
  display: flex;
  width: 100%;
}

nav > span {
  padding: 1.5em;
  color: #6A4F40;
  font-weight: bold;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 1em;
}

.navItem {
  text-align: center;
  padding: 1.5em;
}

.navLink {
  text-decoration: none;
  color: #6A4F40;
}

.navLink:hover {
  color: #B1A196;
}

/* --- MAIN BODY --- */

body {
  background-color: #EBE7DA;
}

/* --- HEADERS --- */
h1 {
  color: #6A4F40;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.entry-form {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.form-elements {
  display: flex;
  width: 11em;
  flex-wrap: wrap;
  justify-content: center;
}

#content {
  resize: none;
  height: 10em;
  width: 30em;
}

#submit {
  background: none;
  border: none;
  padding-top: 1em;
  color: #6A4F40;
}

#submit:hover {
  color: #B1A196;
}

.allPostsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 35em;
  margin: 2em;
}

.postUser {
  padding-left: 1em;
}

.editButtonDiv {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

#editButton {
  background: none;
  border: none;
  color: #6A4F40;
}

#editButton:hover {
  color: #B1A196;
}

.postContent {
  background-color: #F8F4E0;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 35em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
}

input[type=checkbox] {
  background-color: #F8F4E0;
}


.not-logged-in {
  color: darkred;
  padding: 0.5em;
  display: flex;
  justify-content: center;
}


.post-upvote-container {
  text-align: center;
  width: 50%;
}

.post-downvote-container {
  text-align: center;
  width: 50%;
}

.logout {
  color: #6A4F40;
  padding: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.logout:hover {
  color: #B1A196;
}