@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Young+Serif&display=swap');

 /* B1A196 */
 /* F8F4E0 */

* {
  margin: 0;
  /* padding: 0; */
}
/* NAV BAR */
nav {
  background-color: white;
  display: flex;
  width: 100%;
  font-family: 'Rethink Sans', sans-serif;
}

nav > span {
  padding: 1.2em;
  color: #6A4F40;
  font-weight: bold;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 1em;
}

.navItem {
  width: 5em;
  text-align: center;
  padding: 1.2em;
}

.navLink {
  text-decoration: none;
  color: #6A4F40;
}

.navLink:hover {
  color: #B1A196;
}


body {
  background-color: #EBE7DA;

}

