include navbar

doctype html 
head
  meta(charset='UTF-8')
  title AmbyAnts
  link(rel='stylesheet' href='/resources/css/main.css')

+navBar(loggedIn)

h1 Home

.allPostsContainer
  //- .postContainer
  each post in posts 
    .postContainer
      span.postUser= post.username 
      span.postContent= post.content
      .post-upvote-container
        span Likes:&nbsp;
        span= post.upvotes 
      .post-downvote-container
        span Dislikes:&nbsp;
        span= post.downvotes
