mixin navBar
  nav
    span AmbyAnts
    ul
      li(class="navItem")
        a(class="navLink" href='/') Home
      li(class="navItem")
        a(class="navLink" href='/post') Post
      li(class="navItem")
        a(class="navLink" href='/login') Login