mixin navBar(loggedIn)
  nav
    span AmbyAnts
    ul
      li(class="navItem")
        a(class="navLink" href='/') Home
      li(class="navItem")
        a(class="navLink" href='/post') Post
      if !loggedIn 
        li(class="navItem")
          a(class="navLink" href='/login') Login / Create Account
      else 
        li(class="navItem")
          a(class="navLink" href='/login') Profile