include navbar

doctype html 
head
  meta(charset='UTF-8')
  title Post
  link(rel='stylesheet' href='/resources/css/main.css')

+navBar(loggedIn)

h1 Make a Post!

.entry-form 
  form(action='/post' method='POST')
    div(class="form-elements")
      div 
        label(for='content')
        textarea#content(name='content' placeholder='Limit: 300 Characters' required)
      div
        input#submit(class="submit" type='submit' value='Post')