include navbar

doctype html 
head
  meta(charset='UTF-8')
  title Login
  link(rel='stylesheet' href='/resources/css/main.css')

+navBar(loggedIn)

h1= "welcome, " + name

a(class="logout" href='/logout') Logout?