include navbar

doctype html
head
  meta(charset='UTF-8')
  title Failure
  link(rel='stylesheet' href='/resources/css/main.css')
  script(src='/resources/js/main.js')

+navBar(loggedIn)

h1
  | Incorrect password
